{% extends "home_base.html" %}
{% block content %}
    <nav>
        <span>博客</span>
    </nav>
    <!-- 以下内容后期将由js动态生成 -->
    {% for article in article_list %}
        <div class="my_pages_area">
            <div class="my_pages_title"><a
                    href="/article/{{ article.id }}">{{ article.title }}</a></div>
            <div class="my_pages_img">
                <img src="/images/title_pic.png" alt="">
            </div>
            <div class="my_pages_Summary">
                <p>{{ article.desc }}</p>
            </div>
            <div class="my_pages_data">
                <ul>
                    <li>发布时间:{{ article.create_time }}</li>
                    <li>-</li>
                    <li>访问量:0</li>
                    <li>-</li>
                    <li>点赞量:{{ article.up_count }}</li>
                    <li>-</li>
                    <li>评论量:{{ article.comment_count }}</li>
                </ul>
            </div>
        </div>
    {% endfor %}
    <div class="pagination">
        <ul class="pagination">
            {{ page_string }}
        </ul>
    </div>
{% endblock %}